.drop-zone {
    max-width: 500px;
    height: 200px;
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    color: #cccccc;
    border: 4px dashed #66bb6a;
    border-radius: 10px;
}

.drop-zone--over {
    border-style: solid;
}

.drop-zone__input {
    display: none;
}

.drop-zone__thumb {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #cccccc;
    background-size: cover;
    position: relative;
}

.drop-zone__thumb::after {
    content: attr(data-label);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.75);
    font-size: 14px;
    text-align: center;
}

.input-field label {
    color: #90a4ae !important;
}

.input-field input[type=text]:focus+label {
    color: #66bb6a !important;
}

.input-field textarea:focus+label {
    color: #66bb6a !important;
}

.input-field .prefix.active {
    color: #66bb6a;
}

.input-field .prefix {
    color: #90a4ae;
}

.input-field input[type=text]:focus {
    border-bottom: 1px solid #66bb6a !important;
    box-shadow: 0 1px 0 0 #66bb6a !important;
}

.input-field textarea:focus {
    border-bottom: 1px solid #66bb6a !important;
    box-shadow: 0 1px 0 0 #66bb6a !important;
}

.chip:hover {
    background-color: #81c784;
    color: white;
}

.chip {
    background-color: #eceff1;
}

.document-error {
    color: red;
    font-size: large;
    display: none;
}

.card-content {
    font-size: medium;
}

#summarized-text {
    padding-left: 2%;
    padding-right: 2%;
}

.article-data {
    padding-left: 2%;
    padding-right: 2%;
    display: none;
}